*.[oa]
*.exe
firework
manext
libXCurses.so
newdemo
newtest
ptest
rain
sdltest
testcurs
tuidemo
worm
xmas
*.sho
Makefile
config.h
config.log
config.status
PDCurses.md
xcurses-config
*.dll
win32a.gif
win32a.htm
*.bat
clock.c
clock1.c
fullscrn.c
hello
hello.c
win32a/wcr*
win32a/wct*
win32a/wc_*
win32a/wcw*
win32a/z*
win32a/scr2html.c
win32a/newtest*
win32a/*.sav
win32a/*.def
win32/*.def
*.obj
*.bak
*.map
*.lib
m
