*.[oa]
*.exe
firework
manext
libXCurses.so
ozdemo
newtest
ptest
rain
sdltest
testcurs
tuidemo
worm
xmas
*.sho
Makefile
config.h
config.log
config.status
PDCurses.md
xcurses-config
*.dll
wingui.gif
wingui.htm
*.bat
clock.c
clock1.c
fullscrn.c
hello
hello.c
wingui/wcr*
wingui/wct*
wingui/wc_*
wingui/wcw*
wingui/z*
wingui/scr2html.c
wingui/newtest*
wingui/*.sav
wingui/*.def
wincon/*.def
*.obj
*.bak
*.map
*.lib
m
.vscode
build
